

.answer{
  border:1px solid #56A0D3;
  width:50%;
  min-height:50px;
}

.tarheel-blue{
  color:#56A0D3;
}

table {
  border: 1px solid black;
}

th {
  border-bottom: 1px solid black;
}
th:nth-child(-n+2) {
  border-right: 1px solid black;
}

td:nth-child(-n+2) {
  border-right: 1px solid black;
}

td {
  border-bottom: 1px solid black;
}
